<div class="m-4">

  <h3 class="b">12. Útnyilvántartó rendszer</h3>
  <h4>Általános leírás</h4>
  <p>A feladat célja egy vállalat útnyilvántartását segítő rendszer elkészítése. Az útnyilvántartás az alapja annak, hogy a céges autóval kapcsolatos benzin- és egyéb költségek elszámolhatóak legyenek.</p>
  <h4>Felhasználási esetek</h4>
  <h5>Autók nyilvántartása</h5>
  <p>Készítsen felületet a cégnél használatban lévő autók kezelésére! Az autókkal kapcsolatban az alábbi adatokat kell eltárolni:</p>
  <ul>
    <li>Rendszám</li>
    <li>Típus</li>
    <li>Üzemanyag</li>
    <li>Fogyasztás (liter/100km)</li>
    <li>Kezdő kilométeróra-állás</li>
  </ul>
  <p>Készítsen felületet, melyen listázhatók a felvitt járművek!</p>
  <h5>Sofőrök nyilvántartása</h5>
  <p>Készítsen felületet a céges autók vezetésére jogosult munkavállalók kezelésére! A sofőrökkel kapcsolatban az alábbi adatokat kell tárolni:</p>
  <ul>
    <li>Név</li>
    <li>Születési idő</li>
    <li>Lakcím</li>
    <li>Jogosítvány száma</li>
    <li>Jogosítvány lejárati dátuma</li>
  </ul>
  <p>Készítsen felületet, melyen listázhatók és szükség esetén módosíthatók a sofőrök adatai! A lejárt vezetői engedéllyel rendelkezők piros színnel jelenjenek meg!</p>
  <h5>Utazások nyilvántartása</h5>
  <p>Készítsen felületet utazások felvitelére az alábbiak szerint:</p>
  <ol>
    <li>
      Az utazás megadásakor szükséges autó és sofőr választása, lejárt vezetői engedéllyel rendelkező sofőr ne legyen kiválasztható!
    </li>
    <li>
      Ezután meg kell adni az utazással kapcsolatos további adatokat:
      <ul>
        <li>Dátum</li>
        <li>Utazás jellege (magán vagy céges)</li>
        <li>Indulás helye</li>
        <li>Érkezés helye</li>
        <li>Megtett távolság</li>
        <li>Új kilométeróra-állás</li>
      </ul>
    </li>
    <li>Tegye lehetővé a visszaút automatikus regisztrálását is (ekkor egy második rekord is legyen beillesztve az adatbázisba, az indulás és az érkezés helyének megcserélésével, a kilométeróra-állás kiszámításával)!</li>
  </ol>
  <p>Tegye lehetővé az utazások listázását és utólagos módosítását!</p>
  <h5>Havi jelentés készítése</h5>
  <p>Tegye lehetővé a rendszerben havi jelentések megjelenítését az alábbiak szerint:</p>
  <ol>
    <li>A felhasználónak ki kell választania a megfelelő év megfelelő hónapját, majd a lekérdezett autó rendszámát is.</li>
    <li>A jelentés tartalmazza az autó alapadatait, a megjelölt időszakra vonatkozó kezdő- és befejező óraállást, az autóval megtett utakat, valamint a magán- és céges utakra külön-külön összesítve az alábbi adatokat:</li>
  </ol>
  <ul>
    <li>Megtett távolság</li>
    <li>Üzemanyag fogyasztás (számoljunk mindenütt 480 Ft/liter üzemanyagárral)</li>
    <li>Átalány költség (10 Ft/km)</li>
    <li>Összes költség (az előbbiek összege)</li>
  </ul>

</div>